html, body
{
    height: 100%;
    width: 100%;
}

.container {

  /*display:table;*/
  width: 100%;
  height: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/

}

.header {
  background-color: #444343;
  padding-left: 30px;
  color: WhiteSmoke;
  height: 55px;
}

.searchDivContainer {
  background-color: WhiteSmoke;
  height: 100%;
}

.movieImage {
  width: 150px;
  text-align: center;
}

.favoritesDivContainer {
  /*background-color: WhiteSmoke;*/
  height: 100%;
}

.imgInFavoritesDiv {
  padding-top: 20px;
}

.imgInFavorites{
  width: 100px;
  text-align: center;
}

.infoInFavoritesDiv {
}

h1 {
  font-weight: lighter;
  font-size: 22px;
}

h2 {
  font-size: 20px;
}
